<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>用户登录</title>

    <!-- Bootstrap -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!--
   作者：1109726547@qq.com
   时间：2017-03-19
   描述：导航栏模块

     -->
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav id="my_nav" class="navbar navbar-default navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/index">电影页</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/sigup">3秒钟完成注册</a>
                    </div>
                    <ul class="nav navbar-nav navbar-right" v-if="sessionUser.name!=''">
                        <li>
                            <a href="#">欢迎来到电影网:{{sessionUser.name}}</a>
                        </li>
                        <li>
                            <a href="/logout">退出登录</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" v-else>
                        <li>
                            <a href="/signin">登录</a>
                        </li>
                        <li>
                            <a href="/signup">注册</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>

<!---->
<div id="user_signin" class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h1>
                登录页
            </h1>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-6 column">
            <form class="form-horizontal" role="form" method="post" action="/admin/signin">
                <!--type="hidden" 隐藏域 对用户不可见，但提交表单，数据还会提交-->
                <input type="hidden" name="user[_id]" v-bind:value="user._id" placeholder="用户ID"/>
                <div class="form-group">
                    <label for="userName" class="col-sm-2 control-label">用户名称</label>
                    <div class="col-sm-10">
                        <input type="text" name="user[name]" class="form-control" id="userName" placeholder="请输入用户名称"
                               v-bind:value="user.name"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="userPassword" class="col-sm-2 control-label">用户密码</label>
                    <div class="col-sm-10">
                        <input type="text" name="user[password]" class="form-control" id="userPassword"
                               placeholder="请输入用户密码"
                               v-bind:value="user.password"/>
                    </div>
                </div>
                <button type="submit" class="btn btn-info btn-lg col-xs-6 savefilm">登录</button>
                <button type="reset" class="btn btn-success btn-lg col-xs-6">清除数据</button>
            </form>
        </div>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--vue.js-->
<script src="//cdn.bootcss.com/vue/2.2.2/vue.min.js"></script>
<script src="/js/userjs/localuser.js"></script>
</body>

</html>